[user]
	name = David Hambraeus
	email = Ddhambraeus@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
	tool = fugitive
[commit]
    verbose=true
[mergetool]
	keepBackup = false
[mergetool "kdiff3"]
    trustExitCode = false
[mergetool "fugitive"]
    cmd = nvim -f -c "Gvdiffsplit!" "$MERGED"
[core]
	editor = nvim
[credential]
	helper = store
[pull]
	rebase = false
