[user]
	name = David Hambraeus
	email = Ddhambraeus@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
	tool = kdiff3
[commit]
    verbose=true
[mergetool]
	keepBackup = false
[mergetool "kdiff3"]
    trustExitCode = false
[mergetool "fugitive"]
    cmd = vim -f -c "Gdiff" "$MERGED"
[core]
	editor = vim
