[user]
	name = David Hambraeus
	email = Ddhambraeus@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
    tool = fugitive
[commit]
    verbose=true
[mergetool]
	keepBackup = false
[mergetool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
    trustExitCode = false
[mergetool "fugitive"]
    cmd = nvim -f -c "Gvdiffsplit!" "$MERGED"
[mergetool "meld"]
    path = /Applications/Meld.app/Contents/MacOS/Meld
    trustExitCode = false
[core]
	editor = vim
